$containerWidth: 940px;
$FontSize: 18px;
// color
$btn-color: #FEDB3F;
$fonts-color: #FFFFFF;


@font-face {
  font-family: 'AlegreyaSans';
  src: url('../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  box-sizing: border-box;
}
body{
  font-family: 'AlegreyaSans';
}
button:focus, input:focus, a:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
input {
  outline: none;
  border: none;
}
p,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
image {
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}

//components
// @import "component/section";
