@font-face {
  font-family: "AlegreyaSans";
  src: url("../fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/AlegreyaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "AlegreyaSans";
}

button:focus, input:focus, a:focus {
  outline: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

image {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 992px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 0 70px;
}

.header {
  position: absolute;
  top: 0;
}
.header__logo {
  padding-right: 45px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.header__item {
  padding-right: 25px;
  font-size: 17px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
}
.header__item-phone a {
  margin-left: 25px;
  padding-left: 20px;
  font-size: 22px;
  color: #FFFFFF;
  background: url(../img/icon/phone.png) left no-repeat;
}

.hero {
  top: 0;
  height: 655px;
  padding: 176px 0 35px;
  background: url(../img/arnaud.png) center no-repeat;
  background-size: cover;
}
.hero__title {
  max-width: 583px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero__subtitlle {
  margin: 25px 0 36px 0;
  width: 382px;
  font-size: 21px;
  color: #FFFFFF;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
  height: 41px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}
.service__list li {
  padding: 0 50px;
}
.service__item-board {
  display: block;
  background: url(../img/icon/board.png) left no-repeat;
}
.service__item-materials {
  background: url(../img/icon/materials.png) left no-repeat;
}
.service__item-car {
  background: url(../img/icon/car.png) left no-repeat;
}

.btn {
  margin-bottom: 60px;
  padding: 21px 41px;
  width: 156px;
  height: 60px;
  background: #FEDB3F;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
}