.section{
  height: 100vh;
  min-height: 650px;
  display: flex;flex-direction: column;
  justify-content: center;

  &__title{
    margin-bottom: 20px;
    font-size: 48px;
    align-items: center;

  }

}